@import "tailwindcss";
@import "@/styles/fonts/stylesheet.css";

@theme {
  --font-sans: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", "Noto Sans SC", sans-serif;
  --font-fugaz: "Fugaz One", -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", "Noto Sans SC", sans-serif;
  --breakpoint-3xl: 120rem;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-primary: #a52a2a;
  --color-muted: #f8f8f8;
  --color-white: #f4f4f4;
  --color-black: #040404;
  --color-background: #f2f2f2;
}

:root {
  --color-muted: #f8f8f8;
  --color-white: #f4f4f4;
  --color-black: #040404;
  --color-background: #f2f2f2;
}
.dark {
  --color-muted: #080808;
  --color-background: #020202;
}
.miniature {
  aspect-ratio: 4/3;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
  }

  /* Markdown content styles */
  article {
    p {
      font-size: 1rem; /* 16px */
      line-height: 1.7;
      margin-bottom: 0.5rem;
    }

    h1 {
      font-size: 2.5rem; /* 40px */
      font-weight: bold;
      margin: 1.2rem 0 0.5rem;
    }

    h2 {
      font-size: 2rem; /* 32px */
      font-weight: bold;
      margin: 1rem 0 0.2rem;
    }

    h3 {
      font-size: 1.5rem; /* 24px */
      font-weight: bold;
      margin: 0.8rem 0 0.3rem;
    }

    h4 {
      font-size: 1.25rem; /* 20px */
      font-weight: bold;
      margin: 0.6rem 0 0.2rem;
    }

    h5 {
      font-size: 1.125rem; /* 18px */
      font-weight: bold;
      margin: 0.5rem 0 0.2rem;
    }

    h6 {
      font-size: 1rem; /* 16px */
      font-weight: bold;
      margin: 0.4rem 0 0.1rem;
    }
  }
}
.animated-link {
  text-decoration: none;
  padding: 0 10px;
  position: relative;
  transition: 0.4s;
}

.animated-link:hover {
  letter-spacing: 2px;
  transform: translateX(20px);
}

.animated-link:before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.animated-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
